# MySQL 数据库配置
DB_USERNAME=your_db_username
DB_PASSWORD=your_db_password

# 邮箱配置 (SMTP)
MAIL_USERNAME=your_email@qq.com
MAIL_PASSWORD=your_smtp_authorization_code

# 项目目录
PROJECT_FOLDER=/path/to/estudy/

# 管理员账号
ADMIN_ACCOUNT=your_admin_account
ADMIN_PASSWORD=your_admin_password
