<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.estudy.mappers.CategoryMapper">

    <!--实体映射-->
    <resultMap id="base_result_map" type="com.estudy.entity.po.Category">
        <!--分类id-->
        <result column="category_id" property="categoryId"/>
        <!--分类名称-->
        <result column="name" property="name"/>
        <!--分类描述-->
        <result column="description" property="description"/>
        <!--试卷数量-->
        <result column="count" property="count"/>
    </resultMap>


    <!-- 通用查询结果列-->
    <sql id="base_column_list">
        c.category_id
        ,c.name,c.description,c.count
    </sql>

    <sql id="base_condition_filed">
        <foreach collection="query.conditions.entrySet()" index="key" item="value" separator=" ">
            <if test="value != null">
                and ${key} = #{value}
            </if>
        </foreach>
    </sql>
    <!-- 通用条件列-->
    <sql id="base_condition">
        <where>
            <include refid="base_condition_filed"/>
        </where>
    </sql>

    <!-- 通用查询条件列-->
    <sql id="query_condition">
        <where>
            <include refid="base_condition_filed"/>
            <foreach collection="query.fuzzyConditions.entrySet()" index="key" item="value" separator=" ">
                <if test="value != null">
                    and ${key} like concat('%', #{value}, '%')
                </if>
            </foreach>
        </where>
    </sql>

    <!-- 查询集合-->
    <select id="selectList" resultMap="base_result_map">
        SELECT
        <include refid="base_column_list"/>
        FROM category c
        <include refid="query_condition"/>
        <if test="query.orderBy!=null">
            order by ${query.orderBy}
        </if>
        <if test="query.simplePage!=null">
            limit #{query.simplePage.start},#{query.simplePage.end}
        </if>
    </select>

    <!-- 查询数量-->
    <select id="selectCount" resultType="java.lang.Integer">
        SELECT count(1) FROM category c
        <include refid="query_condition"/>
    </select>

    <!-- 插入 （匹配有值的字段）-->
    <insert id="insert" parameterType="com.estudy.entity.po.Category">
        INSERT INTO category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bean.name != null">
                name,
            </if>
            <if test="bean.description != null">
                description,
            </if>
            <if test="bean.count != null">
                count,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bean.name!=null">
                #{bean.name},
            </if>
            <if test="bean.description!=null">
                #{bean.description},
            </if>
            <if test="bean.count!=null">
                #{bean.count},
            </if>
        </trim>
    </insert>

    <!-- 插入或者更新 （匹配有值的字段）-->
    <insert id="insertOrUpdate" parameterType="com.estudy.entity.po.Category">
        INSERT INTO category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bean.categoryId != null">
                category_id,
            </if>
            <if test="bean.name != null">
                name,
            </if>
            <if test="bean.description != null">
                description,
            </if>
            <if test="bean.count != null">
                count,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bean.categoryId!=null">
                #{bean.categoryId},
            </if>
            <if test="bean.name!=null">
                #{bean.name},
            </if>
            <if test="bean.description!=null">
                #{bean.description},
            </if>
            <if test="bean.count!=null">
                #{bean.count},
            </if>
        </trim>
        on DUPLICATE key update
        <trim prefix="" suffix="" suffixOverrides=",">
            <if test="bean.name!=null">
                name = VALUES(name),
            </if>
            <if test="bean.description!=null">
                description = VALUES(description),
            </if>
            <if test="bean.count!=null">
                count = VALUES(count),
            </if>
        </trim>
    </insert>

    <!-- 添加 （批量插入）-->
    <insert id="insertBatch" parameterType="com.estudy.entity.po.Category">
        INSERT INTO category(
        name,
        description,
        count
        )values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.name},
            #{item.description},
            #{item.count}
            )
        </foreach>
    </insert>

    <!-- 批量新增修改 （批量插入）-->
    <insert id="insertOrUpdateBatch" parameterType="com.estudy.entity.po.Category">
        INSERT INTO category(
        name,
        description,
        count
        )values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.name},
            #{item.description},
            #{item.count}
            )
        </foreach>
        on DUPLICATE key update
        category_id = VALUES(category_id),
        name = VALUES(name),
        description = VALUES(description),
        count = VALUES(count)
    </insert>

    <!--多条件修改-->
    <update id="updateByParam" parameterType="com.estudy.entity.query.QueryParams">
        UPDATE category c
        <set>
            <if test="bean.name != null">
                name = #{bean.name},
            </if>
            <if test="bean.description != null">
                description = #{bean.description},
            </if>
            <if test="bean.count != null">
                count = #{bean.count},
            </if>
        </set>
        <include refid="query_condition"/>
    </update>

    <!--多条件删除-->
    <delete id="deleteByParam">
        delete c from category c
        <include refid="query_condition"/>
    </delete>

    <!-- 根据CategoryId修改-->
    <update id="updateById" parameterType="com.estudy.entity.po.Category">
        UPDATE category
        <set>
            <if test="bean.name != null">
                name = #{bean.name},
            </if>
            <if test="bean.description != null">
                description = #{bean.description},
            </if>
            <if test="bean.count != null">
                count = #{bean.count},
            </if>
        </set>
        where category_id=#{bean.categoryId}
    </update>

    <!-- 根据CategoryId删除-->
    <delete id="deleteById">
        delete
        from category
        where category_id = #{id}
    </delete>

    <!-- 根据PrimaryKey获取对象-->
    <select id="selectById" resultMap="base_result_map">
        select
        <include refid="base_column_list"/>
        from category c where category_id=#{id}
    </select>

</mapper>